.header{
 height: var(--header-height);
 background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar{
 display: flex;
 justify-content: space-between;
}

.header__navbar-list{
 list-style: none;
 padding-left: 0;
 margin-top: 6px 0 0 0;
}

.header__navbar-item{
 margin: 0 8px;
 position: relative;
 /* min-height: 26px; */
}

.header__navbar-item--has-qr:hover .header__qr{
 display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
 display: block;
}

.header__navbar-item,
.header__navbar-item-link{
 display: inline-block;
 font-size: 1.5rem;
 color: var(--white-color);
 text-decoration: none;
 font-weight: 300;
}

/* .header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
 display: inline-flex;
 align-items: center;
} */

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
 color: rgba(255,255,255,0.7);
 cursor: pointer;
}

.header__navbar-item--strong{
 font-weight: 400;
}

.header__navbar-item--separate::after{
 content: "";
 display: block;
 position: absolute;
 border-left: 1px solid #FB9086;
 height: 16px;
 top: 50%;
 right: -9px;
 transform: translateY(-50%);
}

.header__navbar-icon-link{
 color: var(--white-color);
 text-decoration: none;
}

.header__navbar-icon{
 font-size: 1.8rem;
 margin: 0 4px;
}

.header__navbar-title--no-pointer{
 cursor: text;
 color: var(--white-color);
}

/* header qr code */

.header__qr{
background-color: var(--white-color);
width: 186px;
position: absolute;
left: 0;
top: 160%;
padding: 8px;
border-radius: 3px;
display: none;
animation: fadeIn ease 1s;
z-index: 11111111;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.header__qr::before{
 content: "";
 position: absolute;
 width: 100%;
 height: 20px;
 display: block;
 left: 0;
 top: -16px;
}

.header__qr-img{
 width: 100%;
}

.header__qr-apps{
 display: flex;
 justify-content: space-between;
}

.header__qr-link:nth-child(1){
 margin-left: 11px;
}

.header__qr-link:nth-child(2){
 margin-right: 11px;
}

.header__qr-download-img{
 height: 16px;
}

/* header notification */

.header__notify{
 position: absolute;
 top: 160%;
 right: 0;
 width: 404px;
 background-color: var(--white-color);
 border: 1px solid #d3d3d3;
 cursor: default;
 animation: headerNotifyGrowth ease-in 0.2s;
 -webkit-animation: headerNotifyGrowth ease-in 0.2s;
 -ms-animation: headerNotifyGrowth ease-in 0.2s;
 -o-animation: headerNotifyGrowth ease-in 0.2s;
 -moz-animation: headerNotifyGrowth ease-in 0.2s;
 transform-origin: calc(100% - 20px) top; 
 /* transform-origin dịch chuyển tâm của animation */
 will-change: opacity, transform ;
 /* will-change giúp chuyển động tối ưu hơn */
 display: none;
 z-index: 11111;
} 

.header__notify::before{
 content: "";
 border-width: 20px 26px;
 border-style: solid;
 border-color: transparent transparent var(--white-color) transparent;
 position: absolute;
 right: 0;
 top: -30px;
}

/* lấy after làm cầu nối cho header__notify */
.header__notify::after{
 content: "";
 display: block;
 position: absolute;
 width: 110px;
 height: 20px;
 right: 0;
 top: -15px;
 background-color: red;
 opacity: 0;
}



.header__notify-header{
 height: 40px;
 background-color: var(--white-color);
}

.header__notify-header h3 {
 color: #999;
 display: block;
 margin: 0 0 0 12px;
 font-weight: 400;
 font-size: 1.4rem;
 line-height: 40px;
 cursor: text;
 /* user-select: none; */
 /* animation: headerNotifyGrowth ease-in 0.3s; */
}

.header__notify-list{
 padding-left: 0;
}

.header__notify-item{
 display: flex;
}

.header__notify-item:hover{
 background-color: #f7f7f7;
}

.header__notify-item--view{
 background-color: rgba(238,75,43,0.09);
}

.header__notify-link{
 display: flex;
 padding: 12px;
 text-decoration: none;
 width: 100%;
}

.header__notify-img{
 width: 40px;
 object-fit: contain;
}

.header__notify-info{
 margin-left: 12px;
}

.header__notify-name{
 display: block;
 font-size: 1.4rem;
 color: var(--text-color);
 margin-bottom: 5px;
 font-weight: 400;
 line-height: 1.8rem;
}

.header__notify-description{
 font-size: 1.2rem;
 color: #756f6e;
 line-height: 1.6rem;
 margin-top: 4px;
}

.header__notify-footer{
 display: flex;
}

.header__notify-footer-btn{
 text-decoration: none;
 color: var(--text-color);
 padding: 8px 48px;
 margin: auto;
 font-size: 1.4rem;
 font-weight: 400;
}

/* Authen modal */

.auth-form-1,
.auth-form-2
{
 width: 500px;
 background-color: var(--white-color);
 border-radius: 5px;
 overflow: hidden;
}

.auth-form-1 {
  display: none;
}

.auth-form-2{
  display: none;
}


.auth-form__container{
 padding: 0 32px;
}

.auth-form__header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 12px;
 margin-top: 10px;
}

.auth-form__heading{
 font-size: 2.2rem;
 font-weight: 400;
 color: var(--text-color);
}

.auth-form__switch-btn{
 font-size: 1.6rem;
 color: var(--primary-color);
 font-weight: 400;
 cursor: pointer;
}

.auth-form__form{
 
}

.auth-form__input{
 width: 100%;
 height: 40px;
 margin-bottom: 16px;
 padding: 0 12px;
 font-size: 1.4rem;
 border: 1px solid var(--border-color);
 border-radius: 3px;
 outline: none;
}

.auth-form__input:focus{
 border-color: #888;
}

.auth-form__aside{
 margin-top: 18px;
}

.auth-form__policy-text{
 font-size: 1.2rem;
 line-height: 1.8rem;
 text-align: center;
 padding: 0 12px;
}

.auth-form__text-link{
 color: var(--primary-color);
 text-decoration: none;
}

.auth-form__controls{
 margin-top: 80px;
 display: flex;
 justify-content: flex-end;
}


.auth-form__controls-back{
 margin-right: 8px;
}

.auth-form__socials {
 background-color: #f5f5f5;
 padding: 16px 36px;
 display: flex;
 justify-content: space-between;
 margin-top: 22px;
}

.auth-form__socials-icon{
 font-size: 1.8rem;
}

.auth-form__socials--facebook{
 background-color: #3a5a98;
 color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon{
 color: var(--white-color);
}

.auth-form__socials-title{
 margin: 0 24px;
}

.auth-form__socials--google{
 background-color: var(--white-color);
 color: #666;
}

.auth-form__help{
 display: flex;
 justify-content: flex-end;
}

.auth-form__help-link{
 text-decoration: none;
 font-size: 1.4rem;
 color: #939393;
}

.auth-form__help-separate{
 display: block;
 border-left: 1px solid var(--border-color);
 height: 16px;
 margin: 0 16px ;
}

.auth-form__help-forgot{
 color: var(--primary-color);
}

/* header with search */

.header-with-search{
 height: var(--header-with-search-height);
 display: flex;
 align-items: center;
 margin: 0 8px;
}

.header__logo{
 width: 200px;
}

.header__logo-img{
 width: 150px;
 color: var(--white-color);
}

.header__search{
 background-color: var(--white-color);
 height: 40px;
 flex: 1;
 border-radius: 2px;
 display: flex;
 align-items: center;
}

.header__cart {
 width: 150px;
 display: flex;
 position: relative;
 animation: headerNotifyGrowth ease 0.5s;
}

.header__cart-icon{
 color: var(--white-color);
 font-size: 2.4rem;
 margin: auto;
 cursor: pointer;
}

.header__cart:hover .header__cart-list{
 display: block;
}

.header__cart-list{
 position: absolute;
 top: calc(100% + 12px);
 right: 50px;
 background-color: #fdfdfd;
 width: 400px;
 border-radius: 2px;
 box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
 text-align: center;
 display: none;
 animation: headerNotifyGrowth ease 0.5s;
 cursor: pointer;
 z-index: 33333333;
}

.header__cart-heading{
 text-align: left;
 margin: 8px 0 8px 12px;
 font-size: 1.4rem;
 color: #999;
 font-weight: 400;
 
}

.header__cart-list-item{
 padding-left: 0;
 list-style: none;
 height: 36vh;
 overflow-y: auto;
}

.header__cart-item{
 display: flex;
 align-items: center;
}

.header__cart-item:hover{
 background-color: #f8f8f8;
}

.header__cart-img{
 width: 42px;
 height: 42px;
 margin: 12px;
 border: 1px solid var(--border-color);
}

.header__cart-item-info{
 width: 100%;
 margin-right: 12px;
}

.header__cart-item-head{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-right: 12px;
}

.header__cart-item-name{
 font-size: 1.4rem;
 font-weight: 500;
 color: var(--text-color);
 margin: 0;
 line-height: 2rem;
 max-height: 4rem;
 overflow: hidden;
 padding-right: 16px;
 text-align: left;
 /* flex: 1; */
 /* dành cho title quá dài thì sẽ thu gọn lại thành ... */
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2; 
}

.header__cart-item-price{
 font-size: 1.4rem;
 color: var(--primary-color);
 font-weight: 400;
}

.header__cart-item-multiply{
 font-size: 0.9rem;
 color: #757575;
 margin: 0 4px;
}

.header__cart-item-quantity{
 color: #757575;
 font-size: 1.2rem;
 font-weight: 400;
}

.header__cart-item-body{
 display: flex;
 justify-content: space-between;
}

.header__cart-item-description{
 color: #757575;
 font-size: 1.2rem;
 font-weight: 300;
}

.header__cart-item-remove{
 color: var(--text-color);
 font-size: 1.2rem;
}

.header__cart-item-remove:hover{
 color: var(--primary-color);
 transition: 0.3s;
 cursor: pointer;
}

.header__cart-view-cart{
 float: right;
 margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
 background-color: #f05d41;
 cursor: pointer;
}

.header__cart-list::after{
 content: "";
 position: absolute;
 right: 3px;
 top: -28px;
 border-width: 16px 20px;
 border-style: solid;
 border-color: transparent transparent var(--white-color) transparent;
 cursor: pointer;
}

.header__cart-list--no-cart{
 padding: 24px 0;

}


.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.header__cart-no-cart-img{
 width: 54%;
 display: none;
}

.header__cart-list-no-cart-msg{
 display: none;
 font-size: 1.4rem;
 margin-top: 12px;
 color: var(--text-color);
}

.header__cart-notice{
 position: absolute;
 padding: 1px 7px;
 background-color: var(--white-color);
 color: var(--primary-color);
 font-size: 1.4rem;
 line-height: 1.4rem;
 border-radius: 10px;
 /* ee4d2d */
 border: 2px solid #ee4d2d;
 top: -10px;
 right: 45px;
}

.header__search-input{
 height: 100%;
 width: 100%;
 border: none;
 outline: none;
 font-size: 1.4rem;
 color: var(--text-color);
 padding: 0 16px;
 border-radius: 3px;
 flex: 1;
}

.header__search-select{
 border-left: 1px solid #e8e8e8;
 padding-left: 16px;
 position: relative;
 animation: headerNotifyGrowth ease 0.5s;
}

.header__search-select-label{
 font-size: 1.4rem;
 color: var(--text-color);
 cursor: pointer;
}

.header__search-select-icon{
 font-size: 1.4rem;
 color: #999898;
 margin: 0 16px 0 8px;
 position: relative;
 top: 1px;
}

.header__search-btn{
 background-color: var(--primary-color);
 border: none;
 height: 34px;
 border-radius: 3px;
 margin-right: 3px;
 width: 60px;
 outline: none;
 cursor: pointer;
 animation: headerNotifyGrowth ease 0.5s;
}

.header__search-btn:hover{
 background-color: #fb5533;
 cursor: pointer;
 transition: 0.2s;
}

.header__search-btn-icon{
 font-size: 1.4rem;
 color: var(--white-color);
}

.header__search-select:hover .header__search-option{
 display: block;
}

.header__search-option{
 position: absolute;
 right: 0;
 top: 125%;
 list-style-type: none;
 width: 130px;
 box-shadow: 0 1px 2px #e0e0e0;
 padding-left: 0;
 border-radius: 3px;
 display: none;
 animation: headerNotifyGrowth ease 0.3s;
 z-index: 111111;
}

.header__search-option::after{
 content: "";
 display: block;
 width: 100%;
 height: 10px;
 position: absolute;
 left: 0;
 top: -10px;
}

.header__search-option-item{
 background-color: var(--white-color);
 padding: 8px 8px;
}

.header__search-option-item:first-child{
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
 background-color: #fafafa;
 cursor: pointer;
 transition: 0.2s;
}

.header__search-option-item span {
 font-size: 1.4rem;
 color: var(--text-color);
 margin-left: 8px;
}

.header__search-option-item i {
 font-size: 1.2rem;
 color: var(--primary-color);
 margin-left: 12px;
 display: none;
}

.header__search-option-item--active i{
 display: inline-block;
}

/* app container */

.app__container{
 background-color: #f5f5f5;
}

.app__content{
 padding-top: 36px;
}

.catelory{
 background-color: var(--white-color);
 border-radius: 2px;
}

.catelory-heading{
 font-size: 1.5rem;
 font-weight: 400;
 color: var(--text-color);
 padding: 16px 16px 0;
 margin-top: 0;
 text-transform: uppercase;
}



.catelory-list{
 padding: 0 0 8px 0;
 list-style: none;
}

.catelory-item{
  position: relative;
}

.catelory-item:first-child::before{
  display: none;
}

.catelory-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-top: 1px solid #e1e1e1;
}

.catelory-item--active .catelory-item__link{
 color: var(--primary-color);

}



.catelory-item__link{
 text-decoration: none;
 color: var(--text-color);
 font-size: 1.4rem;
 padding: 8px 20px;
 /* dùng display block để sử dụng padding */
 display: block;
 position: relative;
 /* right: 0; */
 /* transition: right linear 0.3s; */
}

.catelory-item__link:hover{
 color: var(--primary-color);
 /* right: -4px; */
}

/* home sort + filter */

.home-filter{
 background-color: rgba(0, 0, 0, 0.04);
 display: flex;
 align-items: center;
 padding: 12px 22px;
 border-radius: 2px;
}

.home-filter__label{
 font-size: 1.4rem;
 color: #555;
 margin-right: 16px;
}

.home-filter__btn{
 margin-right: 12px;
 min-width: 90px;
}

.home-filter__page{
 display: flex;
 align-items: center;
 margin-left: auto;
}

.home-filter__page-num{
 font-size: 1.5rem;
 color: var(--text-color);
 margin-right: 22px;
}

.home-filter__page-current{
 color: var(--primary-color);
}

.home-filter__page-control{
 border-radius: 2px;
 overflow: hidden;
 display: flex;
 width: 72px;
 height: 36px;
}

.home-filter__page-btn{
 flex: 1;
 background-color: var(--white-color);
 display: flex;
 text-decoration: none;
}

.home-filter__page-btn--disabled{
 background-color: #f9f9f9;

}

.home-filter__page-btn--disabled .home-filter__page-btn-icon{
 color: #ccc; 
 cursor: default;
}


.home-filter__page-btn:first-child{
 border: 1px solid #eee;
}

.home-filter__page-btn-icon{
 margin: auto;
 font-size: 1.4rem;
 color: #555;
}

/* products item */

.home-products{
  margin-bottom: 10px;
}

.home-products-item{
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  display: block;
  text-decoration: none;
  /* Hover taoj hieeuj wnsg */
  transition: transform linear 0.2s;
  will-change: transform;
}

.home-products-item:hover{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

.home-products-item__img{
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
 padding-top: 100%;
 background-repeat: no-repeat;
 background-size: contain;
 /* background-position: center; */
}

.home-products-item__name{
 font-size: 1.4rem;
 font-weight: 400;
 color: var(--text-color);
 line-height: 1.8rem;
 height: 3.6rem;
 overflow: hidden;
 margin: 10px 10px 6px;
 display: block;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 /* text-overflow: ellipsis; */
}

.home-products-item__name:hover{
 color: var(--primary-color);
 cursor: pointer;
 transition:  linear 0.1s;
}

.home-products-item__price{
 display: flex;
 align-items: baseline;
 flex-wrap: wrap;
}

.home-products-item__price-old{
 font-size: 1.4rem;
 color: #666;
 text-decoration: line-through;
 margin-left: 10px;
} 

.home-products-item__price-current{
 font-size: 1.6rem;
 color: var(--primary-color);
 margin-left: 6px;
}

.home-products-item__action{
 display: flex;
 justify-content: space-between;
 margin: 6px 10px 0;
}

.home-products-item__like{
 font-size: 1.3rem;
} 

i.home-products-item__like-icon-fill{
 display: none;
 color: #f63d30;
}

.home-products-item--liked .home-products-item__like-icon-fill{
 display: inline-block;
}

.home-products-item--liked .home-products-item__like-icon-empty{
 display: none;
}

.home-products-item__rating{
 font-size: 1rem;
 transform: scale(0.8);
 transform-origin: right;
 color: #d5d5d5;
 margin: -1px 0 0 auto;
}

.home-products-item__start--gold{
  color: var(--star-gold-color);
}

.home-products-item__sold{
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 8px;
}

.home-products-item__origin{
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0; 
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-products-item__brand{

}

.home-products-item__origin-name{

}

.home-products-item__favourite{
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home-products-item__favourite span {
  color: var(--white-color);
}

.home-products-item__favourite::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-products-item__favourite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}

.home-products-item__sale-off{
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  /* line-height: ; */
  text-align: center;
  border-top-right-radius: 2px;
}

.home-products-item__sale-off::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
  
}

.home-products-item__sale-off-percent{
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
}

.home-products-item__sale-off-label{
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: var(--white-color);
  font-weight: 600;
  
}


.home-product__pagination{
  margin: 48px 0 32px 0;
}


/* footer */

.footer{
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
  background-color: var(--white-color);
  height: 170px;
}

.footer__heading{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer__list{
  padding-left: 0;
  list-style: none;
}

.footer-item__link{
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 4px 0;
  display: flex;
  align-items: center;
  transition: trasform linear 0.2s;
  will-change: transform;
}

.footer-item__link:hover{
  color: var(--primary-color);
  transform: translateX(-1px);
  cursor: pointer;
}

.footer-item-icon{
  font-size: 1.6rem;
  margin: 0 8px 0 0;
}

.footer__download{
  display: flex;
}

.footer__download-qr{
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
}

.footer__download-apps{
  flex: 1;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__download-app-img{
  height: 16px;
}

.footer__download-app-link{
  text-decoration: none;
  color: transparent;
}




/* modal */
.modal-cart {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;

}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

/* .btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
} */

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 2.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* #cart {
  font-size: 15px;
  color: #fff;
  background: #c7b200;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  margin-left: 1rem;
  padding: 12px;
  cursor: pointer;
} */

#cart:hover {
  border-color: #fff;
}


/* Modal */



.cart-row{
  display: flex;
  justify-content: space-around;
}

.cart-header {
  font-size: 2.0rem;
  margin-bottom: 10px;
  position: relative;
}

.cart-header::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  background-color: #ee4d2d;
  border-radius: 5px;
}

.cart-total {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  margin-top: 20px;
}

.cart-total-title {

}

.cart-total-price {
  margin-left: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-items-inner{
  display: flex;
  justify-content: space-between;
}

.cart-column {

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;

}


.cart-item-title {
  margin: 0 12px 0 10px;

}



.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}